*{
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.head1{
  width: 1024px;
  height: 28px;
  background: #424242;
  color: white;
  list-style: none;
  display: block;
  float: right;
  text-align: right;
  line-height: 28px;
}
.head1 li{
  display: inline;
  padding: 0 27px;
}
.block{
  width: 1024px;
  height: 28px;
  background: #424242;
  margin: auto;
}
.div{
  width: 100%;
  height: 28px;
  background: #424242;
}
.clear{
  clear: both;
}
