*{
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.head{
  width: 1024px;
  height: 28px;
  background: #424242;
  color: white;
  list-style: none;
  display: block;
  float: right;
  text-align: right;
  line-height: 28px;
}
.head li{
  display: inline;
  padding: 0 27px;
}
.block{
  width: 1024px;
  height: 28px;
  background: #424242;
  margin: auto;
}
.div{
  width: 100%;
  height: 28px;
  background: #424242;
}
.clear{
  clear: both;
}
.div1{
  width: 100%;
  height: 111px;
  background: #f5f5f5;
  border-bottom: 1px solid #cecece;
}
.block1{
  width: 1024px;
  height: 111px;
  background: #f5f5f5;
  border-bottom: 1px solid #cecece;
  margin: auto;
}
