*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI Regular';
}
@font-face {
    font-family: 'Segoe UI Bold';
    src: url('SegoeUI-Bold.eot');
    src: url('SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI-Bold.woff') format('woff'),
    url('SegoeUI-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Segoe UI Regular';
    src: url('SegoeUI.eot');
    src: url('SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('SegoeUI.woff') format('woff'),
    url('SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
body {
  width: 100%;
}
.head{
  width: 1024px;
  height: 28px;
  background: #424242;
  color: white;
  list-style: none;
  display: block;
  float: right;
  text-align: right;
  line-height: 28px;
  font-size: 16px;
  font-family: 'Segoe UI Regular';
}
.head li{
  display: inline;
  padding: 0 21px;
}
.block{
  width: 1024px;
  height: 28px;
  background: #424242;
  margin: auto;
}
.div{
  width: 100%;
  height: 28px;
  background: #424242;
}
.clear{
  clear: both;
}
.div1{
  width: 100%;
  height: 111px;
  background: #f5f5f5;
  border-bottom: 1px solid #cecece;
}
.block1{
  width: 1024px;
  height: 111px;
  background: #f5f5f5;
  margin: auto;
}
.books{
  width: 191px;
  height: 111px;
  background:#f5f5f5;
  border-bottom: 1px solid #cecece;
  margin: auto;
  float: left;
}
.img_books{
  padding-top: 19px;
  padding-left: 12px;
}
.search{
  width: 458px;
  height: 111px;
  background: #f5f5f5;
  border-bottom: 1px solid #cecece;
  margin: auto;
  float: left;
}
form{
  padding-top: 34px;
}
input{
  width: 332px;
  border: 4px solid #79b260;
  float: left;
  height: 40px;
}
.search_bac{
  height: 40px;
  background: #79b260;
  color: white;
  font-size: 23px;
  padding: 4.7px;
  position: relative;
  bottom: -4.7px;
  font-family: 'Segoe UI Regular';
  border-radius: 3px;
  margin-left: -3px;
}
.img_search{
  float: left;
  height: 40px;
}
.basket{
  width: 241px;
  height: 111px;
  background: #f5f5f5;
  border-bottom: 1px solid #cecece;
  margin: auto;
  float: left;
  border-right: 1px solid #c5c5c5;
}
button{
  background: #3f3f3f;
  color: white;
  border-radius: 3px;
  padding-left: 7px;
  padding-top: 2px;
  padding-right: 7px;
  padding-bottom: 5px;
  font-size: 15px;
  font-family: 'Segoe UI Regular';
  margin-left: 12px;
  margin-bottom: 2px;
}
.img_basket{
  padding-top: 24px;
  padding-left: 52px;
  float: left;
  padding-bottom: 9px;
}
.basket p{
  color: #6d6d6d;
  padding-top: 30px;
  float: left;
  padding-left: 9px;
  font-size: 16px;
  font-family: 'Segoe UI Regular';
}
.favorit p{
  color: #6d6d6d;
  float: left;
  font-size: 21px;
  font-family: 'Segoe UI Regular';
}
small{
  font-size: 12px;
}
b{
  color: #6d6d6d;
  padding-left: 57px;
  font-size: 27px;
}


.favorit{
  width: 131px;
  height: 111px;
  background: #f5f5f5;
  border-bottom: 1px solid #cecece;
  margin: auto;
  float: left;
  color: #6d6d6d;
  position: relative;
}
.img_звездочка{
  padding-left: 48px;
  padding-top: 34px;
}
.list{
  padding-left: 23px;
  padding-top: 1px;
  padding-bottom: 28px;
  font-size: 21px;
  font-family: 'Segoe UI Regular';
}
.clear1{
  clear: both;
}
.div2{
  width: 100%;
  height: 40px;
  background: #ffffff;
  border-bottom: 1px solid #dedede;
}
.block2{
  width: 1024px;
  height: 40px;
  background: #ffffff;
  border-bottom: 1px solid #dedede;
  margin: auto;
}
.cotegory{
  width: 1024px;
  height: 40px;
  background: #ffffff;
  color: #717171;
  list-style: none;
  display: block;
  line-height: 40px;
  text-align: center;
  font-family: 'Segoe UI Regular';
}
.cotegory li{
  display: inline;
  padding: 7px 16px;
  font-size: 19px;
}
.pos{
  width: 23px;
  height: 13px;
  color: white;
  background: #79b260;
  position: absolute;
  top: 58px;
  left: 84px;
  font-family: 'Segoe UI Regular';
  font-size: 13px;
  border-radius: 20px;
  line-height: 13px;
  text-align: center;
}
.div3{
  width: 100%;
  height: 331px;
  background: #ffffff;
}
.block3{
  width: 1024px;
  height: 331px;
  background: white;
  margin: auto;
}
.wanted{
  width: 714px;
  height: 304px;
  margin: auto;
  background: red;
  float: left;
  margin-top: 14px;
  margin-left: 12px;
  position: relative;
}
.child{
  position:absolute;
  top: 0;
  left: 0;
  margin-left: 60px;
  margin-top: 41px;
  height: 228px;
}
.deal{
  width: 269px;
  height: 304px;
  margin: auto;
  background: green;
  float: left;
  margin-top: 14px;
  margin-left: 13px;
  position: relative;
}
.p1{
  position: absolute;
  top: 20px;
  left: 56px;
  margin: auto;
  text-align: center;
  color: white;
  font-family: 'Segoe UI Regular';
  font-size: 27px;
}
.p2{
  position: absolute;
  top: 49px;
  left: 67px;
  margin: auto;
  text-align: center;
  color: white;
  font-family: 'Segoe UI Regular';
  font-size: 15px;
}

.div4{
  width: 100%;
  height: 890px;
}
.block4{
  width: 1024px;
  height: 890px;
  background: white;
  margin: auto;
}
.categ{
  width: 190px;
  height: 866px;
  background: white;
  float: left;
  margin-left: 12px;
  border: 1px solid #d6d6d6;
}
.div5{
  width: 100%;
  height: 354px;
  background: #444644;
}
.block5{
  width: 1024px;
  height: 354px;
  margin: auto;
  background: #444644;
}
.div6{
  width: 100%;
  height: 97px;
  background: #2f2d2f;
  border-bottom: 1px solid #565354;
}
.block6{
  width: 1024px;
  height: 97px;
  margin: auto;
  background: #2f2d2f;
  border-bottom: 1px solid #565354;
}
.div7{
  width: 100%;
  height: 49px;
  background: #2f2d2f;
}
.block7{
  width: 1024px;
  height: 49px;
  margin: auto;
  background: #2f2d2f;
}
.education{
  width: 134px;
  height: inherit;
  background: #83c168;
  color: white;
  padding: 10px 16px;
}
