*{
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.head{
  width: 1024px;
  height: 28px;
  background: #424242;
  color: white;
  list-style: none;
  display: block;
  float: right;
  text-align: right;
  line-height: 28px;
}
.head li{
  display: inline;
  padding: 0 27px;
}
.block{
  width: 1024px;
  height: 28px;
  background: #424242;
  margin: auto;
}
.div{
  width: 100%;
  height: 28px;
  background: #424242;
}
.clear{
  clear: both;
}
.div1{
  width: 100%;
  height: 111px;
  background: #f5f5f5;
  border-bottom: 1px solid #cecece;
}
.block1{
  width: 1024px;
  height: 111px;
  background: #f5f5f5;
  margin: auto;
}
.books{
  width: 191px;
  height: 111px;
  background: #f2f2f2;
  border-bottom: 1px solid #cecece;
  margin: auto;
  float: left;
}
.img_books{
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 12px;
}
.search{
  width: 458px;
  height: 111px;
  background: #f2f2f2;
  border-bottom: 1px solid #cecece;
  margin: auto;
  float: left;
}
form{
  padding-top: 34px;
}
input{
  width: 375px;
}
.basket{
  width: 242px;
  height: 111px;
  background: #f2f2f2;
  border-bottom: 1px solid #cecece;
  margin: auto;
  float: left;
}
button{
  background: #3f3f3f;
  color: white;
  border: 1px solid #3f3f3f;
  border-radius: 3px;
}
.img_basket{
  padding-top: 24px;
  padding-left: 52px;
  float: left;
}
.clear_basket{
  clear: both;
}
p{
  color: #6d6d6d;
  padding-top: 30px;
  float: left;
  padding-left: 9px;
}
b{
  color: #6d6d6d;
  padding-left: 57px;
}


.favorit{
  width: 133px;
  height: 111px;
  background: #f2f2f2;
  border-bottom: 1px solid #cecece;
  margin: auto;
  float: left;
  color: #6d6d6d;
}
.img_звездочка{
  padding-left: 48px;
  padding-bottom: 8px;
  padding-top: 34px;
}
.list{
  padding-left: 23px;
}
